@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80");
  background-size: cover;

  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

::placeholder {
  color: #fff;
}

button {
  background-color: #575757;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  min-width: 300px;
  color: #fff;
  transition: 0.2s;
  font-weight: bold;

}

button:hover {
  background: #65747b;
}

button:click {
  outline: none;
  align-items: center;
  margin-bottom: 0;
  padding-left: 85px;

}
button {
    padding: 10px 20px;
    border: 2px solid transparent;
    background-color: #007bff;
    color: white;
    font-size: 23 px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease; /* Smooth transition for background color and box-shadow */
  }
  
button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 8px #666;
  }
  
  button:active {
    background-color: #004299;
    box-shadow: 0 0 12px #333;
  }
  
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease; /* Smooth transition for the overlay */
  }
  
button:hover::before {
    left: 100%;
  }
  

.weather {
  font-size: 2rem;
  text-align: center;
}

.weather h2 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 90px;
}

.card {
  background: #000000b2;
  width: 100%;
  max-width: 470px;
  height: 70%;
  padding: 2.5em;
  text-align: center;
  border-radius: 30px;
  color: white;
}

.more-info p {
  font-size: 20px;
}
.more-info span {
  font-weight: 600;
}